html {
  height: 100%;
  width: 100%;
}

body {
  height: 720px;
  margin: 0;
  padding: 0;
}

header {
  height: 60px;
  margin: 0 0 10px 0;
  padding: 0;
  background: #2980b9;
  color: white;
}

header h1 {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}

nav {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

#content {
  min-height: 550px;
  /* padding: 0 30px; */
}

footer {
  height: 20px;
  /* margin: 0 0 10px 0; */
  padding: 20px;
  background: #2980b9;
  color: white;
}

.foot{
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
}

/* Actions */

.actions {
  margin-bottom: 1em;
}


/* Lists */

table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
  vertical-align: top;
}

table {
  width: 80%;
}

table tr td {
  border: 5px solid #999999;
}

table tr th {
  border: 1px solid #0055DD;
  background: #0055DD;
  color: white;
  text-align: left;
}

/* Forms */

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/* Errors */

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}
button, .btn{
  background:#2ecc71;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}
button:hover, .btn:hover{
  background:#2CC06B;
}
